# Ignore all Excel files generated locally
*.xlsx
*.xls
*.xlsm
*.xlsb

# Keep the PowerPoint file that is part of the repository (Modelo_PPT.pptx)
!Modelo_PPT.pptx

# Ignore any directories created locally
*/
